{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Creation date</th>
            <th>Last connection</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.creation_date }}</td>
            <td>{{ user.last_login}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

